@model IEnumerable<Hochwaerts.Models.Verleihobjekt>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>




<table class="table">
    <thead>
    <tr>
        <th><a asp-action="SortTitel">Sortieren Titel</a></th>
        <th><a asp-action="SortAutor">Sortieren Autor</a></th>
        <th>Verkaufbare Bücher</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Buch.Titel)
            </td>
            <td>
                <a asp-action="kaufen" asp-route-id="@item.Id">kaufen</a>
            </td>
        </tr>
    }
    </tbody>
</table>
