@model Hochwaerts.Models.Verleihobjekt

@{
    ViewData["Title"] = "kaufen";
}

<h1>Delete</h1>

<h3>Möchten Sie dieses Buch kaufen?</h3>
<div>
    <h4>Verleihobjekt</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Buch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Buch.Titel)
        </dd>
    </dl>
    <form asp-action="kaufen">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="kaufen" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>